.header {
  padding: 60px;
  text-align: center;
  background-color: #4169E1;
  color: Black;
  font-size: 30px;
}
nav ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
nav li{
  border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
  padding: 10px 24px;
  text-align: center;
  width: 21%;
  position: center;
  float: left;
}
nav li: hover{
  background-color: #111FFF;
}
nav li a{
  display: block;
  text-decoration: none;
  color:white;
}
